{% extends "admin/base_site.html" %}
{% load i18n admin_urls %}

{% block content %}
<div id="content-main">
    <form method="post">
        {% csrf_token %}
        <div class="module">
            <h2>Export Comments to CSV</h2>
            <div class="form-row">
                <p>This will export all comments to a CSV file.</p>
            </div>
            <div class="submit-row">
                <input type="submit" class="default" value="Export" name="_export">
            </div>
        </div>
    </form>
</div>
{% endblock %} 