{% extends "image_sharing_app/base.html" %}

{% block title %}Delete Image - ImageShare{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Delete Image</h3>
                <p>Are you sure you want to delete "{{ image.title }}"?</p>
                <img src="{{ image.image.url }}" class="img-fluid rounded mb-4" alt="{{ image.title }}">
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <a href="{% url 'image_detail' image.pk %}" class="btn btn-outline-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %} 